@import '../../_styles/options/variables.scss';

.dateTime-table-section {

  .active {
    background-color: #d3d1d1 !important;

    &:hover {
      cursor: pointer;
    }
  }

  .disble {
    background-color: #f3f3f3 !important;
    color: rgb(189, 186, 186);


  }

  .selected {
    background-color: #5595f5 !important;
    color: white;
  }




  .show-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid $colorPrimary;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
    }

    p {
      color: $colorPrimary;
      font-size: $sizeSmallText;
    }

    svg {
      color: $colorPrimary;
      font-size: $sizeIconsSmall;
      margin-right: 8px;

    }
  }

  .parent-time {
    padding: 2px;
    right: 20px;
    width: 300px;
    height: fit-content;
    z-index: 999;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .top-parent {
      display: flex;
      justify-content: space-between;
      background-color: black;
      padding: 5px;
      align-items: center;

      span {
        background-color: white;
        border-radius: 3px;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
          cursor: pointer;
        }

        color:black;
        font-size: $sizeIconsSmall;
      }

      p {
        color: white;

        font-weight: 500;
        font-size: $sizeSmallText;
      }

    }

    .my-table {
      position: relative;

      .loading {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.336);
        z-index: 999;
      }

      table {
        width: 100%;

        thead {
          tr {
            th {
              color: $colorBlack;
              text-align: center;
              font-size: $sizeSmallText;
              font-weight: bold;
              padding-top: 12px;
              padding-bottom: 12px;
              padding-left: 5px;
              padding-right: 5px;
            }

          }
        }

        tbody {
          tr {
            td {

              input {
                font-size: $sizeSmallText;
                padding-top: 5px;
                padding-bottom: 5px;
                border: none;
                outline: none;
                background: none;
                width: 100%;
                height: 100%;
                text-align: center;
              }
            }
          }
        }



      }
    }





  }


  .flex-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(201, 201, 201);

    p {
      color: white;
      font-size: $sizeMainText;
      text-transform: capitalize;
      width: fit-content;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $colorPrimary;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: red;
      }
    }
  }




}