@import '../../_styles/options/variables.scss';

.nav-stings {
  color: red;
  margin-top: 30px;
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(211, 209, 209);

  a {
    text-decoration: none;
  }

  .active-nav-stings {

    span,
    p {
      color: $colorPrimary !important;
    }


  }

  .flex-items {
    .card {
      display: flex;
      align-items: center;
      border-top: 1px solid rgb(211, 209, 209);
      padding: 15px;
      padding-right: 20px;

      &:first-child {
        border-top: none;

      }

      &:hover {

        span,
        p {
          color: $colorPrimary;
          text-decoration: underline;
        }
      }

      span {
        background-color: #e9ecec;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $colorSubBlack;
        font-size: $sizeIconsSmall;
      }

      p {
        margin-right: 8px;
        font-size: $sizeSmallText;
        color: $colorSubBlack;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}