/* ===== colors ====== */
$colorPrimary: #E92026;
$colorRed: red;
$colorBlack: black;
$colorSubBlack: rgb(122, 122, 122);
$colorWhite: white;
$colorBody : #F5F5F5;
$colorModalBlack: rgba(0, 0, 0, 0.413);
$colorSubBlackDiv: #E92026;
$colorSubRed: #CC0033;
$colorBule: #14B0C3;
/* ===== end colors ====== */
/* ===== sizes ====== */
$sizeSmallText : 14px;
$sizeLargText : 25px;
$sizeMainText: 15px;
$sizeLogoNavHome: 20px;
$sizeIconsSmall: 17px;
$sizeIconsMain: 21px;
$sizeIconsLarg: 38px;
$sizeTextAlboum: 35px;

/* ===== end sizes ====== */
/* ===== font family */

/* ===== stop font family */